 AddType "application/x-httpd-php; charset=windows-1251" .php

 Options -MultiViews
 Options -Indexes

 ErrorDocument 400 /error.php?go=400
 ErrorDocument 403 /error.php?go=403
 ErrorDocument 404 /error.php?go=404
 ErrorDocument 500 /error.php?go=500

 <FilesMatch "config.php"> 
	Order deny,allow 
	deny from all 
 </FilesMatch>