/* Global */
body {background: #DDDDDD; font-size: 12px; line-height: 15px; color: #000000; font-family: Arial, Helvetica, sans-serif;}
table,td {font-size: 12px; line-height: 15px; color: #000000; font-family: Arial, Helvetica, sans-serif;}

a:link {font-size: 13px; color: #000000; text-decoration: none;}
a:visited {font-size: 13px; color: #000000; text-decoration: none;}
a:active {font-size: 13px; color: #000000; text-decoration: none;}
a:hover {font-size: 13px; color: #FF0000; text-decoration: none;}

.online {font-size: 12px; color: #00ff00;}
.offline {font-size: 12px; color: #ff0000;}

input,select {color: #000000; padding: 0px; vertical-align: center; font-size: 9px; font-weight: bold; font-family: Tahoma, Verdana, Arial;}
textarea {color: #000000; padding: 2px; vertical-align: center; font-size: 12px; font-family: Tahoma, Verdana, Arial;}
select.selections {font-family: "Arial"; font-size: 12px; line-height: 14px; color: #f2e5cd; text-decoration: none; background-color: #494949;}
form,img {display: inline; padding: 0; margin: 0; border: 0;}
fieldset {border: 1px solid #121212; background: #DDDDDD; padding: 2px;}
legend {color: #ff0000; background: #ffffff; font: 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;}

.sort-table td {border: 1px solid ThreeDShadow; background: Window; color: WindowText; padding: 2px 5px; font-size: 12px;}
.sort-table thead td {border: 1px solid; background: #FFAA55; padding: 2px 5px; border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;}

.login_stats {border: 0px; padding: 0px;}
.sized {max-width:600px; width:expression(this.scrollWidth > 600? "600px" : "auto" ); overflow:auto; overflow-y:hidden;}
.copyright {font-size: 10px; color: #101010;}
/* --------------- */