/* Global */
body,table,td,th {font-size: 12px; color: #000000; font-family: Trebuchet MS;}

a:link {font-size: 12px; color: #666666; text-decoration: none;}
a:visited {font-size: 12px; color: #666666; text-decoration: none;}
a:active {font-size: 12px; color: #000000; text-decoration: none;}
a:hover {font-size: 12px; color: #000000; text-decoration: none;}

.online {font-size: 12px; color: #00ff00;}
.offline {font-size: 12px; color: #ff0000;}

.block_bg {background:#FFFFFF; padding:6px;}
.sizedforum {max-width:480px; width:expression(this.scrollWidth > 480? "480px" : "auto" ); overflow:auto; overflow-y:hidden;}
.sizedcomment {max-width:370px; width:expression(this.scrollWidth > 370? "370px" : "auto" ); overflow:auto; overflow-y:hidden;}
.comment-right {padding:0px; padding-left:4px; color:#FFFFFF; font-size:8px; background:url(comment.png); height:16px; width:110px;}
.info-table {background: #999999; color: #FFFFFF; text-align: center;}
.info-td {background: #FFFFFF; color: #000000; text-align: center;}
.div-menu-out {cursor:pointer;color:#666666; font-weight: bold;}
.div-menu-over {cursor:pointer;color:#000000; font-weight: bold;}

a.helpLink {color: #000000; text-decoration: underline; cursor: help; font-size: 12px;}
a.helpLink:hover {color: #666666; text-decoration: underline; cursor: help; font-size: 12px;}
.help-tooltip {position: fixed; border: 1px Solid #000000; background: #FFFFFF; color: #000000; padding: 2px; filter: progid:DXImageTransform.Microsoft.Shadow(color="#777777", Direction=135, Strength=3); z-index: 10000;}

input,textarea,select,option,button {border: 1px solid #000000; background: #FFFFFF; font-size:11px; color: #000000; padding: 0px; vertical-align: middle;}
select.selections {font-family: "Arial"; font-size: 12px; line-height: 14px; color: #f2e5cd; text-decoration: none; background-color: #494949;}
form,img {display: inline; padding: 0; margin: 0; border: 0;}
label {cursor: hand;}

.aBlock {padding: 0px; border: 1px solid #1c1c1c; background: #F8F8F8;}
/* --------------- */

/* Tables */
.sort-table {border: 1px solid #000000; background: #FFFFFF;}
.sort-table thead td {border: 1px solid #FFFFFF; background: #CCCCCC; padding: 2px 5px;}
.sort-table tbody td {border: 1px solid #FFFFFF; background: #EEEEEE; padding: 2px 5px;}
/* --------------- */

/* News */
.eBlock {border: 0px dashed #000000;}
.eTitle {background: url('news.gif') no-repeat 0 1px; padding-left: 18px; font-size: 14px; font-weight: bold;}
a.eTitleLink:link,a.eTitleLink:visited,a.eTitleLink:hover,a.eTitleLink:active {font-size: 14px; font-weight: bold;}
.eMessage {border-top: 1px solid #555555; text-align: justify; padding: 2px;}
.eDetails {background: #EEEEEE; padding-left: 2px; text-align: left; color: #000000; font-size: 7pt;}
.eDetails a {text-decoration: none; color: #000000; font-size: 7pt;}
.eDetails a:hover {text-decoration: none; color: #666666; font-size: 7pt;}
/* --------------- */

/* User Level Marks */
.level0 {text-decoration: none; color: #3399FF;}
a.level0:link,a.level0:visited {text-decoration: none; color: #3399FF;}
a.level0:hover,a.level0:active {text-decoration: none; color: #000000;}
.level32 {text-decoration: none; color: #FF0000; font-weight: bold;}
a.level32:link,a.level32:visited {text-decoration: none; color: #FF0000; font-weight: bold;}
a.level32:hover,a.level32:active {text-decoration: none; color: #CF0F0F; font-weight: bold;}
/* ---------------- */

/* Items BackGround and size */
.item-table {border: 1px solid #000000; background: #FFFFFF;}
.item-td-ancient {border: 1px solid #FFFFFF; background: #660099; cursor: help;}
.item-td-exc {border: 1px solid #FFFFFF; background: #448800; cursor: help;}
.item-td-other {border: 1px solid #FFFFFF; background: #EEEEEE; cursor: help;}
.item-slot {border: 1px solid #FFFFFF; background: #EEEEEE; width: 35px; height: 35px;}
.item-sell {border: 1px solid #FFFFFF; background: #EEEEEE; width: 80%; padding: 4px;}
.item-ancient {color: #660099;}
.item-exc {color: #448800;}
.item-other {color: #000000;}
/* ---------------- */

/* Okey and Die */
.okey {border: 2px solid #009600; background: #CCFFCC; padding: 2px; color: #009600;}
.die {border: 2px solid #DC0000; background: #FFCCCC; padding: 2px; color: #DC0000;}
/* ---------------- */