/* Global */
body,td,th {font-size: 11px; color: #CCCCCC; font-family: Arial, Helvetica, sans-serif;}

a:link {font-size: 11px; color: #CCCCCC; text-decoration: none; font-family: Arial, Helvetica, sans-serif;}
a:visited {font-size: 11px; color: #CCCCCC; text-decoration: none; font-family: Arial, Helvetica, sans-serif;}
a:active {font-size: 11px; color: #FFFFFF; text-decoration: none; font-family: Arial, Helvetica, sans-serif;}
a:hover {font-size: 11px; color: #FFFFFF; text-decoration: none; font-family: Arial, Helvetica, sans-serif;}

.link_menu a {font-size: 13px; color: #969696; text-decoration: none; font-family: "Tahoma", Verdana, Arial, sans-serif;}
.link_menu a:hover {font-size: 13px; color: #FFFFFF; text-decoration: none; font-family: "Tahoma", Verdana, Arial, sans-serif;}
.link_content a {font-size: 10px; color: #CCCCCC; text-decoration: none; font-family: "Tahoma", Verdana, Arial, sans-serif;}
.link_content a:hover {font-size: 10px; color: #FFFFFF; text-decoration: none; font-family: "Tahoma", Verdana, Arial, sans-serif;}

.online {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #00ff00;}
.offline {font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ff0000;}

div {font-size: 11px; color: #CCCCCC; line-height: 15px; font-family: Arial, Helvetica, sans-serif;}
.brdiv {padding:3px; font-size: 4px;}
.sizedsig {max-width:220px;width:expression(this.scrollWidth > 220? "220px" : "auto" );overflow:auto;overflow-y:hidden;}

a.helpLink {color: #CCCCCC; text-decoration: underline; cursor: help; font-size: 11px; font-family: Arial, Helvetica, sans-serif; font-weight: bold;}
a.helpLink:hover {color: #FFFFFF; text-decoration: underline; cursor: help; font-size: 11px; font-family: Arial, Helvetica, sans-serif; font-weight: bold;}
.help-tooltip {position: absolute; border: 1px Solid #000000; background: #4F4F4F; color: #CCCCCC; padding: 2px; filter: progid:DXImageTransform.Microsoft.Shadow(color="#777777", Direction=135, Strength=3); z-index: 10000;}

input,textarea,select,option {border: 1px solid #8D8D8D; background-color: #4F4F4F; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #CCCCCC; padding: 0px;}
select.selections {font-family: "Arial"; font-size: 12px; line-height: 14px; color: #f2e5cd; text-decoration: none; background-color: #494949;}
button {border: 1px solid #8D8D8D; background-color: #4F4F4F; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:10px; color: #CCCCCC; padding: 0px;}
form {display: inline; padding: 0; margin: 0;}
img {display: inline; margin: 0; border: 0;}
legend {border: 1px solid #CCCCCC; color: #CCCCCC; background: #000000; font: 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;}
/* --------------- */

/* Tables */
.sort-table {font: Icon; border: 1px solid #000000; background: #464646; color: #CCCCCC; font-size: 14px;}
.sort-table td {padding: 2px 5px;}
.sort-table thead td {border: 1px solid #666666; cursor: default;}
.sort-table thead td:active {border-color: #4F4F4F; padding: 3px 4px 1px 6px;}
.sort-table thead td[_sorttype="None"]:active {border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight; padding: 2px 5px;}
.sort-table tbody td {border: 1px solid #666666; background: #4F4F4F;}
.alt-table {background: #8D8D8D; color: #000000;}
/* --------------- */

/* News */
.eBlock {border-top: 1px dashed #555555; border-bottom: 1px dashed #555555;}
.eTitle {background: url('news.gif') no-repeat 0 1px; padding-left: 18px; font-size: 15px; font-weight: bold;}
.eMessage {border-top: 1px dashed #555555; text-align: justify; padding: 2px;}
.eDetails {background: #161616; padding: 0px; padding-left: 2px; text-align: left; color: #666666; font-size: 7pt;}
.eDetails a {text-decoration: none; color: #CCCCCC; font-size: 7pt;}
.eDetails a:hover {text-decoration: none; color: #999999; font-size: 7pt;}
/* --------------- */

/* User Level Marks */
.level0 {text-decoration: none; color: #FFFFFF;}
a.level0:link,a.level0:visited {text-decoration: none; color: #FFFFFF;}
a.level0:hover,a.level0:active {text-decoration: none; color: #C0C0C0;}
.level32 {text-decoration: none; color: #FF0000; font-weight: bold;}
a.level32:link,a.level32:visited {text-decoration: none; color: #FF0000; font-weight: bold;}
a.level32:hover,a.level32:active {text-decoration: none; color: #CF0F0F; font-weight: bold;}
/* ---------------- */

/* Items BackGround and size */
.item-table {border: 1px solid #000000; background: #464646;}
.item-slot {border: 1px solid #666666; background: #464646;}
.item-style {border: 1px solid #666666; background: #464646; cursor: help;}
.item-sell {border: 1px solid #666666; width: 80%; padding: 4px;}
/* ---------------- */

/* Other Style */
.okey {border: 2px solid #009600; background: #444444; padding: 2px; color: #009600;}
.die {border: 2px solid #DC0000; background: #444444; padding: 2px; color: #DC0000;}
/* ---------------- */