/* Global */
body, table, td, th {
	font-family: Arial, Helvetica, Impact, serif;
	font-size: 11px;
	color: #CCC;
}

table {
	table-layout: fixed;
}

a:link, a:visited {
	color: #EDC;
	text-decoration: none;
}

a:active, a:hover {
	color: #FC3;
	text-decoration: none;
}

.online {
	color: #0f0;
}

.offline {
	color: #f00;
}

.hr-online-acc {
	border: 0;
	border-bottom: 1px solid #555;
}

.sizedforum {
	max-width: 480px;
	width: 480px;
	overflow: auto;
	overflow-y: hidden;
}

.sizedcomment {
	max-width: 370px;
	width: 370px;
	overflow: auto;
	overflow-y: hidden;
}

.info-table {
	background: #999999;
	color: #000000;
	text-align: center;
}

.info-td {
	background: url(img/background.png);
	color: #FFF;
	text-align: center;
}

.div-menu-out, .div-menu-over {
	font-weight: bold;
	cursor: pointer;
	color: #EDC;
}

.div-menu-over {
	color: #FC3;
}

.helpLink {
	color: #FC3;
	text-decoration: underline;
	cursor: help;
}

.helpLink:hover {
	color: #EDC;
	text-decoration: underline;
	cursor: help;
}

#tooltip {
	position: absolute;
	border: 1px solid #000;
	background-color: #FEFEFE;
	color: #000;
	padding: 3px;
	max-width: 468px;
	opacity: 0.85;
	-moz-opacity: 0.85;
	filter: alpha(opacity=85);
}

#tooltip h3, #tooltip div {
	font: 11px 'Trebuchet MS', Arial, serif;
	margin: 0;
}

input, textarea, option, button {
	border: 1px solid #000;
	font-size: 11px;
	background: url(img/background.png);
	color: #FFF;
	padding: 0 2px;
}

select {
	border: 1px solid #000;
	background: #000;
	font-size: 11px;
	color: #FFF;
	padding: 0 2px;
}

select.selections {
	color: #f2e5cd;
	text-decoration: none;
	background-color: #494949;
}

form, img {
	display: inline;
	padding: 0;
	margin: 0;
	border: 0;
}

label {
	cursor: hand;
}

button, input[type=submit], input[type=reset] {
	background: url(img/button.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-transform: uppercase;
	line-height: 21px;
	font-size: 12px;
	cursor: pointer;
	color: #CCC;
	width: 70px;
	border: 0;
}
button, input[type=submit]:hover, input[type=reset]:hover {
	background-image: url(img/button_hover.png);
	color: #feea87;
}

/* Login form */
form[name=login_account] input {
	margin: 2px 0;
}

form[name=login_account] a {
	float: right;
	width: 70px;
}


.aBlock {
	border: 1px solid #555;
	padding: 0;
}

.aRight {
	background: url(img/comment.png);
	padding: 4px 0 0 4px;
	text-align: left;
	font-size: 8px;
	height: 12px;
	width: 106px;
	color: #FFF;
}

/* --------------- */

/* Tables */
.sort-table {
	border-collapse: collapse;
}

.sort-table thead td, .sort-table thead th {
	border: 1px solid #555;
	padding: 2px 5px;
}

.sort-table tbody td {
	border: 1px solid #555;
	padding: 2px 5px;
}

/* --------------- */

/* News */
.eBlock {
	border: 0 dashed #000;
}

.eTitle {
	background: url('img/news.gif') no-repeat 0 1px;
	padding-left: 18px;
	font-size: 14px;
	font-weight: bold;
	color: #FFCC33;
}

a.eTitleLink:link, a.eTitleLink:visited, a.eTitleLink:hover, a.eTitleLink:active {
	font-size: 14px;
	font-weight: bold;
}

.eMessage {
	border-top: 1px solid #555;
	text-align: justify;
	padding: 2px;
}

.eDetails {
	background: none;
	padding-left: 2px;
	text-align: left;
	color: #9F9F9F;
	font-size: 7pt;
}

.eDetails a {
	text-decoration: none;
	color: #9F9F9F;
	font-size: 7pt;
}

.eDetails a:hover {
	text-decoration: none;
	color: #666;
	font-size: 7pt;
}

/* --------------- */

/* User Level Marks */
.level0 {
	text-decoration: none;
	color: #39F;
}

a.level0:link, a.level0:visited {
	text-decoration: none;
	color: #39F;
}

a.level0:hover, a.level0:active {
	text-decoration: none;
	color: #FC3;
}

.level32 {
	text-decoration: none;
	color: #F00;
	font-weight: bold;
}

a.level32:link, a.level32:visited {
	text-decoration: none;
	color: #F00;
	font-weight: bold;
}

a.level32:hover, a.level32:active {
	text-decoration: none;
	color: #CF0F0F;
	font-weight: bold;
}

/* ---------------- */

/* Items BackGround and size */
.item-table {
	border-collapse: collapse;
}

.item-td-ancient {
	border: 1px solid #555;
	background: #660099;
	cursor: help;
}

.item-td-exc {
	border: 1px solid #555;
	background: #448800;
	cursor: help;
}

.item-td-other {
	border: 1px solid #555;
	cursor: help;
}

.item-slot {
	border: 1px solid #555;
	width: 35px;
	height: 35px;
}

.item-sell {
	border: 1px solid #555;
	width: 80%;
	padding: 4px;
}

.item-ancient {
	color: #609;
}

.item-exc {
	color: #480;
}

.item-other {
	color: #CCC;
}

/* ---------------- */

/* Okey and Die */
.okey, .die {
	text-align: center;
	line-height: 18px;
	padding: 2px;
}
.okey img, .die img {
	vertical-align: top;
	border: 0;
}

.okey {
	border: 2px solid #009600;
	color: #009600;
}

.die {
	border: 2px solid #DC0000;
	color: #DC0000;
}

/* ---------------- */

/* Okey and Die */
.block-table {
	background: url(img/block/background.png);
	width: 100%;
	border: 0;
}

.block-title {
	text-align: right;
	border-bottom: 1px solid #555;
	padding-bottom: 4px;
	margin-bottom: 5px;
	font-weight: bold;
}

.block-left {
	background: url(img/block/left.png) repeat-y left top;
	padding: 0;
	width: 2px;
}

.block-up {
	background: url(img/block/up.png);
	padding: 0;
	height: 3px;
}

.block-right {
	background: url(img/block/right.png) repeat-y right top;
	padding: 0;
	width: 2px;
}

.block-down {
	background: url(img/block/down.png);
	padding: 0;
	height: 2px;
}

/* ---------------- */